<!-- fields/field_metrics.html -->
<div class="metrics-dashboard">
    <h3>{{ field.name }} - Metrikalar</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>🌱 Bitki Statistika</h5>
                    <p>Ümumi: {{ metrics.total_plants }}</p>
                    <p>Aktiv: {{ metrics.active_plants }}</p>
                    <p>Uğur Faizi: {{ metrics.plant_success_rate }}%</p>
                </div>
            </div>
        </div>
      
    </div>
</div>