 {%extends 'base.html' %}


 {% block title %}
 Ana sehife -  AgroVision
 {%endblock%}

 {% block content%}
<div class="text-center">

 <div class="text-center">
    <h1 class="display-4">Xoş gəlmisiniz!</h1>
    <p class="lead">Smart Farm sisteminə xoş gəlmisiniz.</p>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Sahələriniz</h5>
                    <p>Cəmi: {{ total_fields }} sahə</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Bitkiləriniz</h5>
                    <p>Cəmi: {{ total_plants }} bitki</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
     
  
    {% if fields %}
    <a href="{% url 'field_detail' field_id=fields.0.id %}" class="btn btn-info">
        İlk Sahəyə Bax
    </a>
    {% endif %}
</div>
</div>

  {%endblock%}